* {
	padding: 0;
	margin: 0;
}

body,
html {
	height: 100%;
}

.w-banner {
	position: relative;
	width: 100%;
	height: 40vw;
	overflow: hidden;
}

.w-banner .slide_box {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	font-size: 30px;
	flex-shrink: 0;
}

.w-banner .slide_box img {
	width: 100%;
	height: 100%;
}

.w-banner .active,
.w-banner .pre,
.w-banner .next {
	display: flex;
	transition: all 0.8s;
}

.w-banner .active {
	left: 0;
}

.w-banner .pre {
	left: -100%;
}

.w-banner .next {
	left: 100%;
}

img {
	width: 100%;
}

.w-introduce_img {
	width: 100%;
	height: 30vw;
	background-image: url(../images/9.jpg);
	background-size: 100%;
	background-position: 0 -50px;
}

.w-introduce_content {
	padding: 100px 0;
	display: flex;
	justify-content: space-between;
}

.w-container {
	width: 1200px;
	margin: auto;
}

.w-introduce_left {
	width: 500px;
}

.w-introduce_left_title {
	line-height: 1.5;
	text-align: left;
	box-sizing: border-box;
	font-weight: 100;
	font-size: 54px;
	color: #0e3961;
}

.w-introduce_left_text {
	text-align: left;
	box-sizing: border-box;
	font-size: 24px;
	line-height: 32px;
	font-weight: 500;
	color: #98d1d8;
}

.w-introduce_box {
	position: relative;
	width: 240px;
	margin-right: 60px;
}

ul {
	position: relative;
}

.w-introduce_box ul::before {
	content: "";
	position: absolute;
	right: -20px;
	top: 20%;
	height: 80%;
	width: 1px;
	background-color: #e5e6ea;
}

.w-introduce_box_title {
	font-size: 18px;
	line-height: 26px;
	color: #0e3961;
	font-weight: 700;
	text-align: justify;
}

.w-introduce_box ul {
	padding-top: 40px;
}

.w-introduce_box ul li {
	color: #a5a6a7;
}

.w_introduce_right {
	display: flex;
}

.w-fun_img {
	position: relative;
	height: 40vw;
	background-color: #e9e9ea;
}

.w-fun_img img {
	width: 30vw;
	margin-left: 5vw;
	margin-top: 5vw;
}

.w_cards {
	/* position: absolute; */
	margin-top: 10px;
	left: 40vw;
	width: 50vw;
	display: flex;
	justify-content: space-between;
}

.w-card {
	cursor: pointer;
	width: 15vw;
	padding-bottom: 30px;
	min-height: 15vw;
	border-radius: 15px;
	background-color: rgba(231, 228, 228, 0.9);
	border: 1px solid rgba(148, 146, 146, 0.3);
	transition: all 0.1s;
}

.w-card:hover {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.w-card .card_title {
	padding: 15px 30px;
	font-size: 28px;
	font-weight: 500;
	border-bottom: 1px solid rgba(148, 146, 146, 0.3);
	color: #0e3961;
}

.w-card .card_text {
	padding: 30px 30px 0;
	font-size: 18px;
	line-height: 30px;
	color: rgb(73, 80, 87);
}

.w-fun_text {
	position: absolute;
	left: 40vw;
	top: 5vw;
}

.w-introduce_left_text2 {
	margin-top: 2vw;
	text-align: left;
	box-sizing: border-box;
	font-size: 24px;
	line-height: 32px;
	font-weight: 500;
	color: #434343;
	padding-right: 10vw;
}

.w-qing {
	padding: 100px 0;
	background-color: #dfe9eb;
	display: flex;
}

.w-c {
	overflow: hidden;
	margin: 20px 0;
	padding: 0 30px;
	width: 500px;
}

.w-c img {
	width: 40%;
	float: left;
	height: 160px;
}

.w-c .text {
	/* 这个60px为padding第二个值的双倍 */
	padding-left: 30px;
	width: calc(60% - 30px);
	float: left;
	height: 160px;
	background-color: #fff;
}

.w-c h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	color: rgb(73, 80, 87);
}

.w-c p {
	line-height: 28px;
	color: rgb(136, 137, 139);
}

.w-flex {
	display: flex;
}

.w-left2 {
	width: 400px;
	margin-top: 260px;
}

.w-cs {
	display: flex;
	justify-content: space-between;
}

.w-right2 {
	width: 900px;
}

.w-title2 {
	line-height: 1.5;
	box-sizing: border-box;
	font-weight: 700;
	font-size: 80px;
	color: #0e3961;
	padding: 100px 0;
	text-align: center;
    letter-spacing: 20px;
}

ul.w-ul2 li {
	margin: 20px 0;
}
